article {
	h1 {

	}
	h2 {

	}
	.sky-item{
		position: relative;
		background: #fff;
		height: 80px;
		border-bottom: 1px solid #EEE;
	    padding: 0 10px;
		.sky-thumb {
			padding: 5px;
			margin: 4px;
			float: left;
			img {
			    width: 60px;
			    height: 60px;
			    border-radius: 15px;
			}
		}
		.sky-entry {
			padding: 3px;
			h4 {
				font-size: 14px;
				white-space: nowrap;
			    text-overflow: ellipsis;
			    overflow: hidden;
			    max-width: 80%;
			}
			span {
				position: absolute;
			    right: 7px;
			    top: 40px;
			    font-size: 13px;
			    color: #fff;
			    padding: 3px 20px;
			    background-color: #49BD0E;
			    border-radius: 2px;
			    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
			    border: 1px solid #6bb247;
			    cursor: pointer;
			    &:hover {
			    	background-color: darken( #49BD0E, 10%)
			    }
			}
		}
		&:hover {
			cursor: pointer;
			// background: #F0EDED;
			//border-left: 3px solid #F060D0;
		}
	}
	.sky-item.grid {
		
	}
}

@media (max-width: 260px) {
	article {
		.sky-item {
			.sky-entry {
				h4 {
					font-size: 13px;
				}
				p {
					font-size: 13px;
				}
				span {
					padding: 1px 4px;
				}
			}
		}
	}
}

@media (max-width: 220px) {
	article {
		.sky-item {
			.sky-entry {
				p {
					display: none;
				}
				span {
					float: left;
					right: auto;
				}
			}
		}
	}
}

.category {
	.sky-related-item {
		list-style: none;
	    margin: 0;
	    border-bottom: 1px solid #ddd;
	    padding: 5px;
		i {
	        &:before{
	          content: '📌';
	          color: darkgray
	        }
	    }
	    a {
	    	color: gray;
	    	&:hover {
	    		color: @brand-primary;
	    	}
	    }
	}
}

.archive {
	.sky-item {
		margin: 0 -15px;
	}
	.sky-sidebar {
		.widget_sky_recent_post {
			.sky_recent_post_container {
				.sky-item {
				    margin: 0;
				}
			}
		}
	}
}

@media (max-width: 992px){
	.archive {
		.sky-container {
		    max-width: 992px;
		    padding: 0;
		    overflow: hidden;
		}
		.sky-sidebar {
			.widget_sky_recent_post {
				.sky_recent_post_container {
					margin: 0 15px !important;
					.sky-item {
					    margin: 0 -15px;
					    padding: 6px 14px;
					}
				}
			}
		}
	}
}