
/*
* 4.0 Content
* -----------------------------------------------------------------------------
*/

/*
* 4.1 - Heading
* -----------------------------------------------------------------------------
*/
.sky-page-heading{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .page-title{
    padding: 70px 0;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
  }
}


#sky-main-page {
  .container {
    padding: 0;
  }
}

article {
  background: #fff;
}

#sky-main-page {
  padding: 13px 0;
}

#sky-breadcrumbs {
  padding: 10px 20px;
  // border-bottom: 2px solid #E2E2E2;
  background: @brand-primary;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  margin: 0px -15px;
  a{
    color: #fff;
  } 
}

#sky-box-info {
  position: relative;
  #sky-thumb {
    float: left;
    padding: 15px 0px;
    img {
      width: 70px;
      height: 70px;
      border-radius: 20px;
    }
  }
  #sky-entry {
    padding: 15px 0px;
    h3 {
      margin: 0;
      padding: 1px 6px;
      font-size: 16px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: bold;
      max-width: 80%;
    }
    #sky-entry-data {
      position: relative;
      left: 10px;
      .sky-btn-download {
        display: block;
        text-align: center;
        margin-top: 10px;
        position: absolute;
        right: 7px;
        float: right;
        top: 35px;
        font-size: 10px;
        color: #fff;
        padding: 2px 14px;
        background-color: #49BD0E;
        border-radius: 2px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
        border: 1px solid #6bb247;
        cursor: pointer;
        &:hover {
          background-color: darken( #49BD0E, 10%)
        }
      } 
    }
  }
  #sky-qr-code {
    float: right;
    position: absolute;
    top: 15px;
    right: 9px;
  }
  &:after {
    clear: both;
  }
}

@media (max-width:768px) {
  #sky-box-info {
    #sky-qr-code {
      display: none;
    }
  }
  #sky-main-page {
    padding: 13px 0 0 0;
  }
  #sky-box-info {
    #sky-thumb {
      img {
        width: 50px;
        height: 50px;
      }
    }
    #sky-entry {
      h3 {
        font-size: 14px;
      }
    }
    #sky-entry-data {
      p {
        padding: 0;
        margin: 0;
        font-size: 12px;
      }
      .sky-btn-download {
        top: 3px !important;
        right: 13px !important;
        width: 100px;
        height: 25px;
      }
    }
  }
}

article.single-game {
  .sky-btn-download {
    position: static !important; 
    right: auto !important;
    top: auto !important;
    float: none !important;

    font-size: 14px !important;
    color: #fff !important;
    padding: 5px !important;
    width: 95% !important;
    height: auto !important;
  }
}

.entry-related {
  margin: 20px 7px;
  li.sky-related-item {
    list-style: none;
    color: red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
  }
}

@media (max-width: 320px) {
  h1, h2, h3, h4, h5, h6, p {
    text-align: inherit !important;
    font-size: 13px;
  }
  .entry-related {
    li.sky-related-item {
      font-size: 11px;
    }
  }
  #sky-box-info {
    #sky-entry-data {
      .sky-btn-download {
        width: 75px;
        height: 22px;
      }
    }
  }
  .entry-content {
    h1, h2, h3, h4, h5, h6 {
      line-height: 1.5;
    }
    p {
      text-align: initial !important;
    }
    h1 {
      font-size: 17px !important;
    }
    h2 {
      font-size: 16px !important;
    }
    h3 {
      font-size: 15px !important;
    }
    h4 {
      font-size: 14px !important;
    }
    h5 {
      font-size: 13px !important;
    }
    h6 {
      font-size: 13px !important;
    }
  }
}

@media (max-width: 280px) {
  #entry-title {
    margin-top: 50px;
  }

  #sky-box-info {
    #sky-entry-data {
      .sky-btn-download {
        position: inherit !important;
        float: left !important;
        width: 90%;
      }
    }
  }
}
article {
  h1#entry-title {
    padding: 12px;
    line-height: 1.5;
    font-size: 15px;
    margin: 0px -15px;
    border-top: 1px solid #ddd;
    background: #FDFDFD;
    font-weight: bold;
    text-align: center;
  }

  h2#entry-description {
    font-size: 14px;
    line-height: 1.5;
    font-style: italic;
    margin: 0px -15px;
    font-weight: 600;
    text-align: justify;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
  }

}

.entry-content {
  clear: both;
  .content-detail {
    margin-top: 15px;
  }
  a {
    color: #428bca;
  }
  ul, ol {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      padding: 4px 8px;
      background: #fff;
      font-size: 13px;
      &:before{
        font-family: 'FontAwesome';
        content: "\f0da";
        display: inline-block;
        padding-right: 3px;
      }
    }
  }
  >p {
    text-align: justify;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 10px 0px;
    padding: 0;
    font-weight: bold;
    h1, h2, h3, h4, h5, h6 {
      line-height: 1.5;
    }
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 17px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    font-size: 14px;
  }
  #entry-new {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 6px -15px;
    padding: 15px 15px 0;
    #entry-new-title {
      font-size: 15px;
      font-weight: bold;
    }
    ul {
      margin-bottom: 12px;
      padding-left: 30px;
      li.item_new {
        list-style: circle;
        line-height: 15px;
        padding: 4px 0;
        &:before {
          content: ''
        }
        &:hover {
          color: @brand-primary;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }
}

.sky_tag {
  background: #F7F3F3;
  padding: 5px;
  font-size: 13px;
  width: 104.1%;
  margin: 0 -15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #FDFDFD;
  max-height: 32px;
  overflow: hidden;
  &:before {
    font-family: 'FontAwesome';
    content: "\f02c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
  }
  a {
    font-style: italic;
  }
}

.sky-notice {
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
  margin: 0 -15px;
  font-size: 12px;
  .fa-exclamation-triangle {
    color: red;
  }
}

.sky_download {
  padding: 0px 20px;
  margin-top:20px;
  h1 {
    color: #950505;
    font-size: 20px;
  }
  p {
    font-size: 11px;
    font-style: italic;

  }
  .sky_item_download {
    .sky_item_os {
      width: 100px;
      padding: 6px 20px;
      text-align: center;
      background: #99CC00;
      color: #eee;
      font-size: 10px;
      font-weight: bold;
      float: left;
    }
    a {
      color: #0099CC;
      margin-left: 20px;
    }
    .sky_item_size {
      font-style: italic
    }
    p {
      margin-top: 13px;
      &:before {
        clear: both;
      }
    }
  }
  &:before {
    font-family: 'FontAwesome';
    // content: "\f074";
    display: inline-block;
    padding-right: 10px;
  }
}

.sky_download, .sky_info_other, .sky-comment {
  background: @brand-primary;
  color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  margin: 0 -15px;
  font-weight: bold;
  text-transform: uppercase;
}

.sky_download_entry {
  .sky_item_download {
    padding: 5px 15px;
    border-bottom: 1px solid #ddd;
    margin: 0 -15px;
    i {
      padding-right: 8px;
    }
    img {
      margin: 0px 5px 0px -4px;
    }
  }
}

.sky_info_other {
  &:before {
    font-family: 'FontAwesome';
    // content: "\f05a";
    display: inline-block;
    padding-right: 10px;
  }
}

.sky-comment {
  &:before {
    font-family: 'FontAwesome';
    // content: "\f27b";
    display: inline-block;
    padding-right: 10px;
  }
}

.sky_info_other_entry {
  margin-top: 5px;
  .sky_info_item {
    padding: 2px;
    font-size: 12px;
    font-style: italic;
    &:before {
      font-family: 'FontAwesome';
      content: "\f101";
      display: inline-block;
      padding-right: 10px;
    }
  }
}


// --- [ caption ]

.wp-caption {
  max-width: 100%;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding: 5px;
  margin: 20px auto;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    max-width: 100%;
  }

  .wp-caption-text {
    margin: 0.8075em 0;
  }
}

.wp-caption-text {
  text-align: center;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sky-manager {
  margin: 12px 0px;
  .sky-manager-item {
    background: linear-gradient(to bottom,#fcfcfc,#f0f0f0) repeat scroll 0 0 #fafafa;
    border-color: #dadada #d2d2d2 #c5c5c5 #F060D0;
    border-radius: 3px;
    border-style: solid;
    margin: 5px;
    border-width: 1px 1px 1px 3px;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.7) inset,0 1px 2px rgba(0,0,0,0.05);
    color: #555;
    font-size: 12px;
    height: 26px;
    line-height: 23px;
    padding: 4px 10px;
    text-decoration: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:hover {
      background: #ddd;
      cursor: pointer;
    }
  }
}

.sky-container-image,
.sky-container-file {
  padding: 4px;
  border: 1px solid #ddd;
  margin: 10px;
  display: none;
  border-radius: 3px;
}

.sky-triangle {
  background: linear-gradient(to bottom,#fcfcfc,#f0f0f0) repeat scroll 0 0 #fafafa;
  border-color: #dadada #7BDDA5 #d2d2d2 #c5c5c5;
  border-radius: 3px;
  border-style: solid;
  margin: 5px;
  border-width: 1px 3px 1px 1px;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.7) inset,0 1px 2px rgba(0,0,0,0.05);
  color: #555;
  font-size: 12px;
  height: 26px;
  line-height: 23px;
  padding: 4px 10px;
  text-decoration: none;
  text-shadow: 0 1px #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:hover {
    background: #ddd;
    cursor: pointer;
  }
}

// ==== <<<< Social Share
.sky-social {
    font-size: 12px;
    width: 310px;
    height: 60px;
    margin: 0;
    background: url(http://down.vn/themes/default/images/alike.png) no-repeat left -10px;
    padding: 0 0 32px 52px;
    float: right;
    >div {
      margin-right: 5px;
      vertical-align: top;
      width: auto;
      display: inline-block;
    }
    &:after {
      display: table;
      content: '';
      clear: both;
    }
    // ul {
    //   display: inline-flex;
    //   list-style: none;
    //   li {
    //     margin: 10px;
    //     min-width: 55px;
    //     min-height: 60px;
    //     border-radius: 5px;
    //     &.facebook {
    //       background: #3468af;
    //       &:hover {
    //         background: darken(#3468af, 10%);
    //       }
    //     }
    //     &.twitter {
    //       background: #4fc4f6;
    //       &:hover {
    //         background: darken(#4fc4f6, 10%);
    //       }
    //     }
    //     &.googleplus {
    //       background: #DA4D2F;
    //       &:hover {
    //         background: darken(#DA4D2F, 10%);
    //       }
    //     }
    //     &.pinterest {
    //       background: #CB2028;
    //       &:hover {
    //         background: darken(#CB2028, 10%);
    //       }
    //     }
    //     a {
    //       color: #fff;
    //       padding-top: 15px;
    //       display: block;
    //       span {
    //         text-align: center;
    //         display: block;
    //         &.fa {
    //           font-size: 22px;
    //         }
    //         &.count {
              
    //         }
    //       }
    //     }  
    //   }
    // }
}

.sky-readmore {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  a {
    background: #bababa;
    padding: 3px 15px;
    font-size: 11px;
    border-radius: 5px;
    color: #fff;
    &:hover {
      background: darken(#bababa, 10%)
    }
  }
}

// === <<< Nav
ul.sky_post_nav {
  display: table;
  list-style: none;
  width: 100%;
  table-layout: fixed;
  margin: 15px 0px;
  padding: 0;
  > li {
    display: table-cell;
    position: relative;
    span {
      display: block;
      font-size: 12px;
      line-height: 22px;
      margin-top: 3px;
      color: #888;
    }
    a {
      display: block;
      line-height: 24px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.pre {
      padding-left: 30px;
      &:before {
        font-family: 'FontAwesome';
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-size: 60px;
        position: absolute;
        left: 0;
        top: -18px;
      }
    }
    &.next {
      padding-right: 30px;
      span {
        text-align: right;
        margin-right: 20px;
      }
      &:after {
        font-family: 'FontAwesome';
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-size: 60px;
        position: absolute;
        right: 0;
        top: -18px;
      }
    }
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  ul.sky_post_nav {
    > li {
      &.sky-sm-5 {
        width: 50%;
      }
    }
  }
}

@media (min-width: @screen-xs-max) {
  ul.sky_post_nav {
    > li {
      &.sky-sm-5 {
        width: 41.66666667%;
      }
    }
  }
}

// ===== <<< CSS POST
.post {
  article {
    #sky-breadcrumbs,
    h1#entry-title,
    .sky-comment{
      margin: 0;
      width: 100%;
    }
    h1#entry-title {
      border-top: none;
    }
    .entry-content {
      margin: 0 15px;
    }
  }
}

// ===== <<<< remove title post in breadcrumb
.single {
  .breadcrumb_last {
    display: none;
  }
}

// ===== <<< CSS Post Related
#entry-post-related {
  margin: 0 -15px;
  #entry-related-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    background: @brand-primary;
    color: #fff;
    padding: 10px 20px;
    &:before {
      // content: "\f1ea";
      font-family: 'FontAwesome';
      display: inline-block;
      padding-right: 10px;
    }
  }
  ul {
    margin: 0;
    padding-left: 5px;
    li {
      list-style: none;
      line-height: 15px;
      padding: 8px 15px;
      border-bottom: 1px solid #ddd;
      margin-left: -6px;
      i {
        &:before{
          content: "\f08d";
          color: darkgray
        }
      }
      a {
        color: #666;
      }
    }
  }
}