#sky-site-info {
	background: #222533;
	color: #a1b1bc;
	.row {
		padding: 25px 10px 20px;
	}

}

#footer-widget {
	background: #1a1c27;
	padding: 10px;
	color: #ccc;
	ul {
		li {
			a {
				color: #999;
				&:hover {
					color: #fff;
				}
			}
		}
	}
	.widget { 
		#calendar_wrap {
			table {
				color: #fff;
			}
		}
	}
}

.footer-contact-info > div {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px 0;
    padding: 0;
    position: relative;
    i {
	    background: rgba(0, 0, 0, 0.2);
	    text-align: center;
	    width: 34px;
	    top: 0;
	    bottom: 0;
	    border-radius: 5px 0 0 5px;
	    line-height: 34px;
	    margin-right: 10px;
	}
}



#footer-content {
	.text-social{
		float: right;
	}
	ul {
		padding: 0;
		&:after{
			clear: both;
			content: '';
			display: table;
		}
		li {
			list-style: none;
		    display: block;
		    float: right;
		    margin-left: 25px;
		    text-align: center;
			a {
				color: #999;
				i {
				    font-weight: bold;
				    font-size: 20px;
				}
				&:hover {
					color: @brand-primary;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	#sky-site-info {
		.row {
			// margin-left: -35px;
		}
	}
	#footer-content {
		.text-social,
		.text-copyright{
			text-align: center;
		}
		.text-copyright{
			margin-bottom: 20px;
		}
		ul {

			display: inline-block;
			li {
				float: left;
				margin-right: 25px;
				margin-left: 0;
				a {
					i {
						font-size: 13px;
					}
				}
			}
		}
	}
}

//Go to top
a.go-to-top{
	&,
	&:hover
	&:focus{
		background-color: rgba(0, 0, 0, 0.15);;
	    .border-radius(@border-radius-base);
	    bottom: 72px;
	    .opacity(0);
	    position: fixed;
	    right: -60px;
	    .transition(all 0.2s ease-in-out 0s);
	    color: #fff;
	    font-size: 40px;
	    height: 50px;
	    line-height: 1;
	    text-align: center;
	    width: 50px;
	    z-index: 100;
	    visibility: hidden;
	    &.on {
	    	.opacity(0.8);
	    	visibility: visible;
	    	right: 20px;
	    	&:hover{
	    		.opacity(1);
	    	}
		}
	}
}