

/*
* 3.0 Header
* -----------------------------------------------------------------------------
*/
.sky-section{
  position:relative;
  padding:0px;
  margin:0px;
  z-index:999;
  .navbar-container{
    #sky-logo{
      max-width:180px;
    }
    #sky-search{
      float: right;
      padding: 22px;
      form#form-header{
        position: relative;
        display: block;
        border: none;
        margin-right: 6px;
        border-radius: 4px;
          input[type="search"],input[type='submit']{
            padding:6px 10px;
            border:none;
            outline:none;
            color:#A7A6A6;
          }
          input[type='submit']{
            background-color: #337AB7;
            color: #fff;
          }
          input[type="search"]{
            width: 300px;
          }
          .ajax_load{
            position: absolute;
            right: 80px;
            bottom: 50%;
            display: none;
            transform: translate(0,50%);
                -webkit-transform: translate(0,50%);
                    -moz-transform: translate(0,50%);
                        -o-transform: translate(0,50%);
          }
          .returs_ajax{
            display: none;
          }
          .returs_ajax.returs_ajax_aff{
            position: absolute;
            background-color: #fff;
            width: 100%;
            display: block;
            padding: 5px 10px;
            top: 33px;
            height:330px;
            overflow:auto;
             ul{
              padding:0px;
              margin:0px;
              li{
                list-style: none;
                padding: 5px;
                border-bottom: 1px solid #DADADA;
                img{
                  float: left;
                  width: 50px;
                  height: 50px;
                  margin-right: 6px;
                  border-radius: 10px;
                }
              }
            }
          }
      }
      form#form-header.eff_search{
        .ajax_load{
          display: block;
        }
        
      }
    }
  }
}
.nav-button{
  background-color:#2E2E2E;
  .res-button{
    background-color:#525252;
    span{
      background:#fff;
    }
  }
}
#sky-search-mobile{
    display:none;
}
@media(max-width:767px){
  #sky-search{
    display:none;
  }
 #sky-search-mobile{
    text-align: center;
    padding: 10px;
    display: block;
    margin-bottom: 0px;
    form.sky-search-form{
        display: block;
        padding: 3px 5px;
        input[type="search"],input[type='submit']{
          padding:5px 10px;
          border:none;
          outline:none;
          color:#A7A6A6;
          box-shadow: 1px 2px 3px #C7C7C7;
        }
        input[type='submit']{
          background-color:#59595F;
          color:#fff;
        }
        &:focus {
          border: 1px solid red !important;
        }
      }
    }
}