// -- Page nav
.sky-pagenavi {
	background: #fff;
	// border: 1px solid #F1F0F0;
	text-align: center;
	padding: 10px;
	margin: 0px;
	span {
		border: 1px solid #E7E3E3;
    	padding: 2px 8px;
    	border-radius: 4px;
    	background-color: beige;
    	margin: 2px;
    	cursor: crosshair;
	}
	a {
		border: 1px solid #E7E3E3;
		border-radius: 4px;
    	padding: 2px 8px;
    	margin: 2px;
    	&:hover {
    		background-color: #ECECCE;
    	}
	}
}