.sky-sidebar {
    margin-top: 0px;
}
@media (min-width: @screen-md-min) {
	.sky-sidebar {
	    // margin-top: -10px;
	}
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

	.sky-sidebar-wrap {
		margin: 0 15px;
		.widget_sky_category {
			ul {
			    margin: 0;
			}
		}
	}
	.home {
		.vc_col-sm-4 {
			margin-left: -15px;
		}
		.vc_col-sm-8 {
			margin-left: 15px;
		}
	}

	.widget_sky_recent_post {
		margin: 0 -15px !important;
		.sky_recent_post_container, ul {
			margin: 0 -15px !important;
		}
	}
	
}

@media (max-width: @screen-xs-max) {
	.vc_col-sm-12 {
		.wpb_wrapper {
			margin: 0 -15px;
		}
	}
}

@media (max-width: @screen-sm-min) {
	.sky-sidebar-wrap {
		ul {
			margin: 0;
		}
	}
}