.sky-framework {
  margin-left: 20px;
  margin-right: 0;
}
.sky-framework .sky-header h1 {
  float: right;
}
.sky-framework .sky-header fieldset {
  float: left;
}
.sky-framework .sky-nav {
  float: right;
}
.sky-framework .sky-nav ul {
  clear: right;
}
.sky-framework .sky-nav ul li .sky-section-active:after {
  right: auto;
  left: 0;
  border-left-color: #fff;
  border-right-color: transparent;
}
.sky-framework .sky-nav ul li .sky-arrow:after {
  content: "\f053";
  right: auto;
  left: 10px;
}
.sky-framework .sky-nav ul li.sky-tab-active .sky-arrow:after {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sky-framework .sky-nav ul ul li a {
  padding-right: 25px;
  padding-left: 15px;
}
.sky-framework .sky-nav ul ul:before {
  left: auto;
  right: 15px;
}
.sky-framework .sky-nav .sky-icon {
  margin-left: 5px;
  margin-right: 0;
}
.sky-framework .sky-nav-background {
  left: auto;
  right: 0;
}
.sky-framework .sky-content {
  margin-left: 0;
  margin-right: 225px;
}
.sky-framework .sky-content .sky-sections {
  float: right;
}
.sky-framework .sky-show-all .sky-content {
  margin-right: 0;
  overflow: hidden;
}
.sky-framework .sky-expand-all {
  right: auto;
  left: 40px;
}
.sky-framework .sky-footer {
  text-align: left;
}

.sky-metabox-framework {
  margin: -6px -12px -12px -12px;
}
.sky-metabox-framework .sky-content .sky-section-title {
  padding: 20px;
}

.sky-element .sky-title {
  float: right;
}
.sky-element .sky-fieldset {
  margin-left: 0;
  margin-right: 30%;
}

.sky-pseudo-field {
  padding: 0 0 0 5px !important;
}

.sky-field-number em {
  margin-left: 0;
  margin-right: 5px;
}

.sky-field-typography select,
.sky-field-typography .chosen-container {
  margin-right: 0;
  margin-left: 5px;
}

.sky-field-checkbox .horizontal li,
.sky-field-radio .horizontal li {
  margin-right: 0;
  margin-left: 15px;
}

.sky-field-switcher label {
  float: right;
}
.sky-field-switcher .sky-text-desc {
  float: right;
  margin-left: 0;
  margin-right: 5px;
}

.sky-field-color_picker .sky-alpha-slider {
  margin-left: 0;
  margin-right: 2px;
}
.sky-field-color_picker .sky-alpha-slider .ui-slider-handle {
  margin: 0 -11px;
}
.sky-field-color_picker .sky-alpha-slider-offset {
  background-position: center right;
}
.sky-field-color_picker .sky-alpha-text {
  right: auto;
  left: 10px;
}

.sky-field-group .ui-accordion-icons {
  padding-left: 0;
  padding-right: 30px;
}
.sky-field-group .ui-accordion-header-icon {
  left: auto;
  right: .5em;
}
.sky-field-group .dashicons-arrow-right:before {
  content: "\f141";
}

.sky-help {
  right: auto;
  left: 5px;
}

.sky-field-icon .button {
  margin-right: 0;
  margin-left: 5px;
}
.sky-field-icon .sky-icon-preview i {
  margin-right: 0;
  margin-left: 5px;
}

.sky-field-gallery ul li {
  margin-right: 0;
  margin-left: 5px;
}
.sky-field-gallery .button {
  margin-right: 0;
  margin-left: 5px;
}

.sky-field-sorter .sky-modules {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

#sky-save-ajax {
  right: auto;
  left: 5px;
}

.sky-dialog .sky-element {
  padding-right: 15px;
  padding-left: 30px;
}
.sky-dialog .sky-shortcode-clone .sky-remove-clone {
  right: auto;
  left: 5px;
}

#customize-controls .sky-element .sky-fieldset,
.widget-content .sky-element .sky-fieldset,
#side-sortables .sky-element .sky-fieldset {
  margin-right: 0;
}

@media only screen and (max-width: 1200px) {
  .sky-metabox-framework .sky-element .sky-fieldset {
    margin-left: 0;
  }
}
@media only screen and (max-width: 782px) {
  .sky-framework .sky-fieldset,
  .sky-framework .sky-content {
    margin-right: 0;
  }
}
.ui-dialog {
  right: auto;
}
