// -- Style tax

input.sky-text {
	width: 90%;
}

.t_select_icon {
	position: relative;
	i {
		position: absolute;
		top: 10px;
	    right: 30px;
	    cursor: pointer;
	}
}

.list-entry {
	border: 1px solid #ddd;
    padding: 2px;
    background: transparent;
    margin-top: 6px;
 	width: 96%; 
 	.box-search {
	    width: 99.5%;
	}
	.list-icon {
		i {
			border: 1px solid #ddd;
		    padding: 8px;
		    margin: 3px;
		    cursor: pointer;
		    width: 19px;
		    text-align: center;
		    &:hover {
		    	background: #ddd;
		    }
		}
	}
}

.icon-search {
 	position: relative;
 	i.fa-search {
	    position: absolute;
	    top: 0;
	    right: 9px;
	    cursor: pointer;
	}
}



.list-icon {
	overflow-y:scroll; 
	width:94.8%; 
	height:100px;
    border: 1px solid #ddd;
    padding: 6px 10px;
    margin: 3px 1px;
}

/*
-------------------------------------------------------------------------------
General view 
-------------------------------------------------------------------------------
*/

#sky-sidebars > ul,
#sky-removed-sidebars > ul{
	min-height: 40px;
	border: 1px solid #ddd;
}
#sky-sidebars > ul > li:last-of-type,
#sky-removed-sidebars > ul > li:last-of-type{
	border-bottom: 0;
}
.sky-sidebars-grid{
	display: block;
	float: left;
	width: 100%;
	margin: 0;
	max-width: 1000px;
}
.sky-sidebars-grid.removed-sidebars{
	display: none;
}
.sbg-removed-active .sky-sidebars-grid.removed-sidebars{
	display: block;
}
/*
-------------------------------------------------------------------------------
Head section
-------------------------------------------------------------------------------
*/
.sky-sidebars-list .accordion-section-title{
	position: relative;
	padding-right: 150px; 
}
.sky-sidebars-list .accordion-section-title .description{
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	color: #666;
	margin-left: 10px;
}

.sky-sidebars-list .accordion-section-title .sky-sidebar-section-icon{
	padding: 0;
	color: #aaa;
	cursor: move;
	margin-right: 5px;
}
.sky-sidebars-list .accordion-section-title .sky-sidebar-section-icon:hover{
	color: #82B82B;
}

/* Moderate sidebar
------------------------------------------------*/
.sky-sidebars-list .accordion-section-title .moderate-sidebar{
	position: absolute;
	font-size: 13px;
	font-weight: 700;
	font-style: normal;
	color: #5F72C0;
	margin-left: 10px;
	right: 30px;
	top: 11px;
}
.sky-sidebars-list .accordion-section-title .moderate-sidebar span{
	padding: 1px 7px;
	border-radius: 2px;
	display: inline-block;
}
/* Delete
------------------------------------------------*/
.sky-sidebars-list .accordion-section-title .moderate-sidebar .sky-delete-sidebar{
	color: #CF0018;
}
.sky-sidebars-list .accordion-section-title .moderate-sidebar .sky-delete-sidebar:hover{
	color: #fff;
	background: #CF0018;
}

/* Restore
------------------------------------------------*/
.sky-sidebars-list .accordion-section-title .moderate-sidebar .sky-restore-sidebar{
	color: #82B82B;
	display: none;
}
.sky-sidebars-list .accordion-section-title .moderate-sidebar .sky-restore-sidebar:hover{
	color: #fff;
	background: #82B82B;
}

/* Removed sidebar styles
------------------------------------------------*/
#sky-removed-sidebars .accordion-section-title .description,
#sky-removed-sidebars .accordion-section-title .moderate-sidebar span{
	display: none;
}
#sky-removed-sidebars .accordion-section-title .moderate-sidebar .sky-restore-sidebar{
	display: inline-block;
}

/*
-------------------------------------------------------------------------------
Content section
-------------------------------------------------------------------------------
*/
.sky-sidebar-row label{
	display: block;
	font-weight: 700;
	margin: 10px 0 5px;
}
.sky-sidebar-row input,
.sky-sidebar-row textarea,
.sky-sidebar-row select{
	margin-bottom: 10px;
}
.sky-sidebar-row input[type="checkbox"]{
	margin: 0 5px 0 0;
}
.sky-sidebar-row.sky-sidebar-grid-4{
	display: inline-block;
	float: left;
	width: 29%;
	margin-right: 1%;
}
.sky-sidebar-row.sky-sidebar-grid-8{
	display: inline-block;
	float: left;
	width: 69%;
	margin-left: 1%;
}
.add-new-sidebar{
	font-size: 12px;
	padding: 3px 6px;
	margin: 0 7px;
	border-radius: 2px;
	cursor: pointer;
}
.add-new-sidebar:hover{}

/*
-------------------------------------------------------------------------------
Fields
-------------------------------------------------------------------------------
*/
.sky-sidebar-row .sidebars-to-replace-select{
	width: 100%;
	max-width: 278px;
}
.sky-sidebar-row .condition-if,
.sky-sidebar-row .condition-equalto{
	width: 100%;
}

/*
-------------------------------------------------------------------------------
Conditions
-------------------------------------------------------------------------------
*/
.sky-sidebar-row .created-conditions.disabled-conditions{
	position: relative;
}
.sky-sidebar-row .created-conditions.disabled-conditions,
.sky-sidebar-row .created-conditions.disabled-conditions input,
.sky-sidebar-row .created-conditions.disabled-conditions select,
.sky-sidebar-row .created-conditions.disabled-conditions textarea{
	color: #aaa;
	border-color: #ccc;
}
.sky-sidebar-row .created-conditions.disabled-conditions:before{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: rgba(255, 255, 255, 0.35);
	z-index: 10;
}
.sky-sidebar-row .created-conditions .condition-parent:nth-child(odd){
	background: #fafafa;
	border: 1px solid #eee;
	border-left: 0;
	border-right: 0;
}
.sky-sidebar-row .created-conditions .condition-parent{
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}
.sky-sidebar-row .created-conditions .condition-parent > .conditions-first{
	display: inline-block;
	width: 28%;
	vertical-align: top;
	padding-right: 2%;
}
.sky-sidebar-row .created-conditions .condition-parent > .conditions-second{
	display: inline-block;
	width: 68%;
	vertical-align: top;
	padding-left: 2%;
}
.sky-sidebar-row .created-conditions .condition-parent .condition-label{
	display: block;
	margin: 5px 0 2px;
	padding-left: 0;
}
.sky-sidebar-row .created-conditions .condition-parent span.condition-remove{
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	padding: 1px 3px;
	margin: 3px;
	border-radius: 2px;
	color: #CF0018;
	cursor: pointer;
	float: right;
}
.sky-sidebar-row .created-conditions .condition-parent span.condition-remove .dashicons,
.sky-sidebar-row .created-conditions .condition-parent span.condition-remove .dashicons-before:before{
	font-size: 14px;
	line-height: 14px;
	width: 14px;
	height: 14px;
	margin: 2px 0;
}
.sky-sidebar-row .created-conditions .condition-parent span.condition-remove .dashicons-before:before{
	text-align: center;
	padding: 3px 0;
}
.sky-sidebar-row .created-conditions .condition-parent .condition-remove:hover{
	color: #fff;
	background: #CF0018;
}
.sky-sidebar-row .condition-add{
	margin: 10px 0;
}
.sky-sidebar-row .sky-sidebar-condition-icon{
	position: absolute;
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 3px 0;
	color: #aaa;
	cursor: move;
}
.sky-sidebar-row .sky-sidebar-condition-icon:hover{
	color: #82B82B;
}

.sbg-clearfix:before,.sbg-clearfix:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0;}
.sbg-clearfix:after{clear:both;}

// ==== Mega menu
// --- Hide element
.mega-entry,
.mega-list-icon,
.hide,
.megamenu-status {
	display: none;
}

// --- Show element
.menu-item-depth-0 {
	.megamenu-status {
		display: block;
	}
	.sky-mega-menu-widgetarea {
		display: none !important;
	}
}
.menu-item-depth-1 {
	.sky-mega-menu-widgetarea {
		display: block !important;
		margin-top: 15px;
	}
}
.sky-icon {
	margin: 15px 0px;
	span {
		&.icon {
			background-color: #fff;
		    border: 1px solid #ddd;
		    padding: 5px 14px;
		    font-size: 16px;
		    font-weight: bold;
		}
		&.select_icon, &.select_color {
			background-color: #eee;
		    border: 1px solid #ddd;
		    padding: 5px 7px;
		    font-size: 16px;
		    font-weight: bold;
		    border-left: none;
		    cursor: pointer;
		}
		&.display{
		    float: right;
		    border: 1px solid #ddd;
		    padding: 6px 18px;
		    margin: -6px 10px;
		}
	}
}

.mega-entry {
	border: 1px solid #ddd;
    padding: 2px;
    background: transparent;
    margin-top: 6px;
 	width: 96%; 
 	.box-search {
	    width: 99.5%;
	}
	.mega-list-icon {
		i {
			border: 1px solid #ddd;
		    padding: 8px;
		    margin: 3px;
		    cursor: pointer;
		    width: 19px;
		    text-align: center;
		    &:hover {
		    	background: #ddd;
		    }
		}
	}
}

.megamenu-search {
 	position: relative;
 	i.fa-search {
	    position: absolute;
	    top: 0;
	    right: 9px;
	    cursor: pointer;
	}
}



.mega-list-icon {
	overflow-y:scroll; 
	width:93.8%; 
	height:100px;
    border: 1px solid #ddd;
    padding: 6px 10px;
    margin: 3px 1px;
}

.box-set {
    // position: relative;
    padding: 2px;
    width: 96%;
    >div {
	    padding: 2px 10px
	}
	input[type="number"] {
	    width: 60px;
	    height: 23px;
	    padding: 1px;
	    border-radius: 4px;
	    font-size: 13px;
	}
	.select_alignment {
	    // position: relative;
	    // top: -11px;
	    // left: 66px;
	    height: 22px !important;
	    border-radius: 3px;
	    padding: 0;
	    margin: 0;
	    font-size: 13px;
	}
}

@media (max-width: 786px) {
	.mega-entry {
		width: 99%;
	}
    .box-set {

    }
}

/**
 * Tooltip Styles
 */

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

// -- Hide the tooltip content by default
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  pointer-events: none;
}

// -- Position tooltip above the element
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

// -- Triangle hack to make tooltip look like a speech bubble
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

// -- Show tooltip content on hover
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

// ==== Setup

#sky_tools {
	width: 99%;
	.item_tools {
		background: #fff;
		padding: 6px;
		cursor: pointer;
		&:before {
			content: "→";
		}
		&:hover {
			font-weight: bold;
		}
	}
	.sky_hide {
		display: none;
		background: #fff;
		padding: 10px;
	    margin-top: 15px;
	    .item {
	    	width: 32%;
	    	position: relative;
	    	text-align: center;
	    	float: left;
    	    border: 1px solid #ddd;
    	    margin: 5px;
	    	.button-install {
	    		display: none;
	    		position: absolute;
	    		top: 45%;
	    		left: 40%;
	    	}
	    	img {
	    		max-width: 100%;
	    	}
	    	.item_footer {
	    		border: 1px solid #ddd;
			    padding: 8px 20px;
	    		.more-detail {
	    			float: left;
	    		}
	    	}
	    }	
	}
}

.theme-browser {
	// display: none;
}

#process_import {
	
}

mark.yes {
	background-color: transparent;
	color: #7ad03a;
}
mark.error {
    background-color: transparent;
    color: #a00;
}
mark.error span:hover {
	cursor: pointer;
}
table.widefat {
	margin-bottom: 20px;
}

// ===== <<< [ CSS SPINNER ] >>> ===== //

.sky-spinner {
	#word_select {
	    display: block;
	    margin: 10px 0;
	    width: 90%;
	    height: 250px;
	    padding: 5px 10px;
	    option {
	    	&:before {
    		    font: normal normal normal 14px/1 FontAwesome;
    		    content: "\f101";
    		    padding-right: 5px;
	    	}
	    }
	}
	#synonym_word {
		margin: -3px 0 8px;
	    width: 100%;
	}
	#word_synonyms {
		width: 100%;
	    height: 184px;
	}
	:disabled {
		background-color: #F0F0F0;
		cursor: not-allowed;
	}
}

.sky-auto-spinner-meta li.tab_head{
	cursor:pointer;
}

.sky-spin-form {
	label {
		display: block;
	    margin: 15px 0 5px;
	    width: 100%;
	}
	.field {
	    display: inline;
	    float: left;
	    margin-left: 2%;
	    margin-right: 2%;
	    width: 96%;
	}
	input[type=text],
	textarea {
		width: 100%;
	}

}
.visible-overflow {
	overflow:visible !important;
	max-height:none !important;
}
.post_rewrite {
	margin:20px 0;
}

#spinner_dev {
	border: 1px solid #DFDFDF;
	z-index: 999999999;
	display:none;
	position: absolute;
	li {
		background:#F5F5F5;
		padding:2px 5px;
		border-bottom: 1px solid #DFDFDF;
		&:first-child{
			font-weight: bold;
		}
		&:hover{
			background:#aaa;
			color:#fff	;
		}
	}
}