// -- Page nav
.sky-pagenavi {
	background: #fff;
	// border: 1px solid #F1F0F0;
	text-align: center;
	padding: 3px;
	margin: 0px;
	.current {
		border: 1px solid #E7E3E3;
    	padding: 2px 8px;
    	border-radius: 4px;
    	background-color: #E3E3DB;
    	margin: 2px;
    	cursor: crosshair;
	    color: red;
	    font-weight: bold;
	}
	a {
		border: 1px solid #E7E3E3;
		border-radius: 4px;
    	padding: 2px 8px;
    	margin: 2px;
    	&:hover {
    		background-color: #ECECCE;
    	}
	}
}

#pagination {
	display: block;
	text-align: center;
	.prev, .next {
		display: inline-block;
		margin: @grid-gutter-width / 2;
	}
}

.loadmore-action,
#infscr-loading,
.loadmore-loading {
	display: block;
	width: 100%;
	text-align: center;
	margin: @line-height-computed auto;
	line-height: 3;
	font-size: @font-size-base;
}


// Infinite scroll loading
.loadmore-loading {
	position:relative;
	height: 25px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	&.finished {
		width: auto;
	}
	span {
		display:block;
		bottom: 0;
		width: 9px;
		height: 5px;
		background: @link-color;
		position:absolute;
		.animation( preload_audio_wave 1.5s  infinite ease-in-out );
	}

	span:nth-child(2){
		left:11px;
		.animation-delay(.2s);

	}
	span:nth-child(3){
		left:22px;
		.animation-delay(.4s);
	}
	span:nth-child(4){
		left:33px;
		.animation-delay(.6s);
	}
	span:nth-child(5){
		left:44px;
		.animation-delay(.8s);
	}
}
@keyframes preload_audio_wave {
	0% {height:5px;transform:translateY(0px);background:@link-hover-color;}
	25% {height:30px;transform:translateY(15px);background:@link-hover-color;}
	50% {height:5px;transform:translateY(0px);background:@link-hover-color;}
	100% {height:5px;transform:translateY(0px);background:@link-hover-color;}
}
@-webkit-keyframes preload_audio_wave {
    0% {height:5px;-webkit-transform:translateY(0px);background:@link-hover-color;}
    25% {height:30px;-webkit-transform:translateY(15px);background:@link-hover-color;}
    50% {height:5px;-webkit-transform:translateY(0px);background:@link-hover-color;}
    100% {height:5px;-webkit-transform:translateY(0px);background:@link-hover-color;}
}

@-moz-keyframes preload_audio_wave {
    0% {height:5px;-moz-transform:translateY(0px);background:@link-hover-color;}
    25% {height:30px;-moz-transform:translateY(15px);background:@link-hover-color;}
    50% {height:5px;-moz-transform:translateY(0px);background:@link-hover-color;}
    100% {height:5px;-moz-transform:translateY(0px);background:@link-hover-color;}
}

@keyframes preload_audio_wave {
    0% {height:5px;transform:translateY(0px);background:@link-hover-color;}
    25% {height:30px;transform:translateY(15px);background:@link-hover-color;}
    50% {height:5px;transform:translateY(0px);background:@link-hover-color;}
    100% {height:5px;transform:translateY(0px);background:@link-hover-color;}
}

[data-paginate="loadmore"],
[data-paginate="infinite"] {
	.pagination {
		display: none;
	}
}