/*
* 7.0 Responsive
* -----------------------------------------------------------------------------
*/

/*
* 7.1 Responsive - Medium devices
* -----------------------------------------------------------------------------
*/
@media (max-width: @screen-sm-max) {
  .sky-main-canvas{
    .sub-menu{
      list-style: none;
    }
  }
  .sky-container{
    position: relative;
  }
  button.sky_icon_menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 30px;
    background: @white;
    color: @gray-dark;
    border: 0;
    padding: 5px 10px;
  }
  .off-canvas {
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }
  .off-canvas body {
    width: 100%;
    overflow-x: hidden;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .off-canvas body > * {
    left: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .off-canvas #off-canvas-nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    z-index: 1;
    background: none;
  }
  .off-canvas #off-canvas-nav .sky-main-canvas {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .off-canvas #off-canvas-nav .sky-main-canvas .nav-collapse {
    background: none repeat scroll 0 0 #333;
    height: auto;
    margin: 0;
    padding: 30px 0;
    width: 100%;
  }
  .off-canvas #off-canvas-nav .sky-main-canvas .nav-collapse li{
    float: none;
  }
  .off-canvas #off-canvas-nav .sky-main-canvas .nav-collapse li a{
    color: #ffffff;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    padding: 5px 20px;
    position: relative;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
  }
  .off-canvas-enabled body > * {
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -o-transform: translateX(250px);
    transform: translateX(250px);
  }
  .off-canvas-enabled #sky-main-canvas {
    display: block;
  }
  body .sky-main-canvas{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #000;
    display: block;
    padding: 0;
  }
  .sky-main-canvas i {
    color: #000;
    font-size: 14px;
    line-height: 50px;
  }
  .nav-collapse{
    height: 0;
    overflow: hidden;
  }

}


/*
* 7.2 Responsive - Small devices
* -----------------------------------------------------------------------------
*/
@media (max-width: @screen-xs-max) {
  .sky-header {
    background: #ffff00;
  }

}


/*
* 7.3 Responsive - Mobile devices
* -----------------------------------------------------------------------------
*/
@media (max-width: @screen-xs) {


}

/*
* 7.4 Responsive - Small Mobile devices
* -----------------------------------------------------------------------------
*/
@media (max-width: @screen-mobile) {


}