.sky-autocomplete-result {
	border-bottom: 1px solid #ccc;
	padding: 1em 0;
	overflow: hidden;
}
.sky-autocomplete-result .label {
	float: left;
	width: 90%;
}
.sky-autocomplete-result .actions {
	width: 10%;
	float: right;
	cursor: pointer;
}