.sky-media-list {
	margin: 0 0 5px;
	overflow: hidden;
}
.sky-media-item {
	overflow: hidden;
	margin-bottom: 10px;
}
.sky-media-preview {
	width: 60px;
	float: left;
	position: relative;
}
.sky-media-preview:before {
	content: '';
	display: block;
	padding-top: 100%;
}
.sky-media-content {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.sky-media-content .centered {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}
.sky-media-content img {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-height: 100%;
	max-width: 100%;
	border-radius: 3px;
}
.sky-media-info {
	margin-left: 65px;
}
.sky-media-info a {
	text-decoration: none;
}
.sky-media-info p,
.sky-media-info h4 {
	margin: 0 0 2px;
}
.sky-edit-media,
.sky-remove-media {
	font-size: 11px;
	color: inherit;
}
.sky-edit-media .dashicons,
.sky-remove-media .dashicons {
	font-size: 12px;
	width: 12px;
	height: 12px;
	vertical-align: middle;
}

/* Add more button */
.sky-media-view .sky-add-media {
	padding-left: 5px;
	margin-right: 5px;
}

/* Status */
.sky-media-status {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
}

/* Image */
.sky-image-item {
	position: relative;
	float: left;
	padding: 0;
	margin: 0 5px 5px 0;
	box-sizing: border-box;
	width: 150px;
}
.sky-image-item .sky-media-preview {
	width: 150px;
}
.sky-image-item .dashicons {
	font-size: 20px;
	width: 20px;
	height: 20px;
}
.sky-media-bar {
	position: absolute;
	z-index: 10;
	display: none;
	right: 5px;
	top: 5px;
	color: #fff;
}
.sky-media-bar a {
	text-decoration: none;
	color: inherit;
}
.sky-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .6);
	display: none;
}
.sky-image-item:hover .sky-media-bar,
.sky-image-item:hover .sky-overlay {
	display: block;
	cursor: move;
}
