div.sky-drag-drop {
	border: 4px dashed #ddd;
	height: 200px;
}

div.sky-image-uploading-bar {
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
}
div.sky-image-uploading-status {
	position: absolute;
}
li.sky-image-error {
	border: 3px solid #c00;
	background: #903838;
}
.sky-image-uploading-status .sky-loader {
	width: 64px;
	height: 64px;
	top: 43px;
	left: 43px;
	position: relative;
}