.controls_row .column_edit {
	background-color: #B9E6DE;
}

.controls_row .column_clone {
	background-color: #FCEEDB;
}

.controls_row .column_delete {
	background-color: #FFE0E0;
}

#wpb_visual_composer .controls_row .column_delete:hover {
	background-color: #FFFFFF;
}

#wpb_visual_composer [data-element_type="vc_row"]:before,
#wpb_visual_composer [data-element_type="vc_column"]:before,
#wpb_visual_composer .vc_navbar-inner .vc_nav:first-child,
#wpb_visual_composer .wpb_content_element .vc_admin_label,
#wpb_visual_composer .wpb_vc_row .wpb_vc_param_value:not(.content),
#wpb_visual_composer .vc_shortcodes_container .wpb_vc_param_value {
  display: none;
}

#wpb_visual_composer .wpb_vc_row .wpb_vc_param_value.content {
	max-height: 60px;
	overflow: hidden;
}

#wpb_visual_composer .wpb_vc_row .wpb_vc_param_value.content * {
	line-height: 27px !important;
	font-size: 13px !important;
	font-weight: 300 !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: left !important;
	color: #444 !important;
}

#wpb_visual_composer .wpb_vc_row .wpb_vc_param_value.content h1,
#wpb_visual_composer .wpb_vc_row .wpb_vc_param_value.content h2,
#wpb_visual_composer .wpb_vc_row .wpb_vc_param_value.content h3 {
	font-size: 14px !important;
}

#wpb_visual_composer .wpb_content_element .wpb_element_wrapper {
	height: auto;
	min-height: 27px;
	padding: 10px 15px 15px 45px;
}

#wpb_visual_composer .wpb_content_element .wpb_element_title {
	margin-top: 5px;
}

#wpb_visual_composer .vc_shortcodes_container {
	background-image: none;
	position: relative;
}

#wpb_visual_composer .vc_shortcodes_container .vc_container_for_children {
	margin-left: 48px;
	margin-top: 5px;
}

#wpb_visual_composer .vc_shortcodes_container .vc_container_for_children .wpb_content_element + .wpb_content_element {
	border-top: 1px dotted #e6e6e6;
}

/* vc_button shortcode */
#wpb_visual_composer .wpb_content_element[data-element_type="vc_button"] .wpb_element_wrapper {
	padding-left: 13px;
}
#wpb_visual_composer .wpb_vc_button .wpb_button {
	padding: 8px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: 10px;
}
#wpb_visual_composer .wpb_vc_button .wpb_button:before {
	margin-right: 5px
}
#wpb_visual_composer .wpb_vc_button .wpb_button > i.icon {
	display: none;
}

/* animation shortcode */
#wpb_visual_composer .vc_shortcodes_container[data-element_type="animation"] {
	background-color: #f1faf9;
}
#wpb_visual_composer .vc_shortcodes_container[data-element_type="animation"] .vc_container_for_children {
	margin-left: 20px;
}

/* vc_single_image shortcode */
#wpb_visual_composer .wpb_vc_single_image .attachment-thumbnail {
	margin: -4px -35px 0 -35px;
}

.sky-vc-element {
	margin-top: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sky-vc-element:before,
[data-element_type="icon_list"]:before,
[data-element_type="block_grid"]:before,
[data-element_type="progress_bar"]:before,
[data-element_type="pricing_table"]:before,
[data-element_type="slider"]:before {
	display: block;
	position: absolute;
	top: 12px;
	left: 16px;
	width: 24px;
	height: 24px;
	font-family: "fontawesome";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 24px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	color: #444;
	background-color: #fff;
	speak: none;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.215);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.215);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.215);
}

[data-element_type="icon_list"]:before,
[data-element_type="block_grid"]:before,
[data-element_type="progress_bar"]:before,
[data-element_type="pricing_table"]:before,
[data-element_type="slider"]:before {
	width: 36px;
	height: 36px;
	font-size: 20px;
	line-height: 36px;
	top: 5px;
	left: 5px;
}

.sky-vc-element.sky-vc-element-gap:before {
	content: "\f07d";
}

.sky-vc-element .wpb_element_wrapper,
[class*="sky-vc-icon-"] {
	background-color: transparent;
	background-image: none !important;
}

span[class*="sky-vc-icon-"],
span[class*="sky-vc-icon-"]:before {
	display: none;
}

[class*="sky-vc-icon-"],
[class*="sky-vc-icon-"]:before {
	display: block;
	font-family: "fontawesome";
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	line-height: 32px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	color: #444;
	background-color: #f9f9f9;
	speak: none;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.215);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.215);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.215);
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

/* fa-arrows-alt */
.sky-vc-element.sky-vc-element-row:before,
i.sky-vc-icon-row:before {
	content: "\f0b2";
}

/* fa-magic */
.sky-vc-element.sky-vc-element-animation:before,
i.sky-vc-icon-animation:before {
	content: "\f0d0";
}

/* fa-minus */
.sky-vc-element.sky-vc-element-separator:before,
i.sky-vc-icon-separator:before {
	content: "\f068";
}

/* fa-arrows-v */
.sky-vc-element.sky-vc-element-gap:before,
i.sky-vc-icon-gap:before {
	content: "\f07d";
}

/* fa-undo */
.sky-vc-element.sky-vc-element-clear:before,
i.sky-vc-icon-clear:before {
	content: "\f0e2";
}

/* fa-align-left */
.sky-vc-element.sky-vc-element-text_block:before,
i.sky-vc-icon-text_block:before {
	content: "\f036";
}

.sky-vc-element-text_block .wpb_element_wrapper:before {
	display: block;
	height: auto;
	min-height: 27px;
	margin-top: 5px;
	content: "Text Block";
	line-height: normal;
	font-weight: bold;
}

/* fa-hand-o-up */
i.sky-vc-icon-button:before {
	content: "\f0a6";
}

/* fa-font */
.sky-vc-element.sky-vc-element-dropcap:before,
i.sky-vc-icon-dropcap:before {
	content: "\f031";
}

/* fa-quote-left */
.sky-vc-element.sky-vc-element-quote:before,
i.sky-vc-icon-quote:before {
	content: "\f10d";
}

/* fa-info-circle */
.sky-vc-element.sky-vc-element-icon:before,
i.sky-vc-icon-icon:before {
	content: "\f05a";
}

/* fa-info */
.sky-vc-element.sky-vc-element-social_icon:before,
i.sky-vc-icon-social_icon:before {
	content: "\f129";
}

/* fa-list-ul */
[data-element_type="icon_list"]:before,
.sky-vc-element.sky-vc-element-icon_list:before,
i.sky-vc-icon-icon_list:before {
	content: "\f0ca";
}

/* fa-circle */
.sky-vc-element.sky-vc-element-icon_list_item:before,
i.sky-vc-icon-icon_list_item:before {
	content: "\f111";
}

/* fa-tag */
.sky-vc-element.sky-vc-element-label:before,
i.sky-vc-icon-label:before {
	content: "\f02b";
}

/* fa-code */
.sky-vc-element.sky-vc-element-code:before,
i.sky-vc-icon-code:before {
	content: "\f121";
}

/* fa-th */
[data-element_type="block_grid"]:before,
.sky-vc-element.sky-vc-element-block_grid:before,
i.sky-vc-icon-block_grid:before {
	content: "\f00a";
}

/* fa-square */
.sky-vc-element.sky-vc-element-block_grid_item:before,
i.sky-vc-icon-block_grid_item:before {
	content: "\f0c8";
}

/* fa-tasks */
[data-element_type="progress_bar"]:before,
.sky-vc-element.sky-vc-element-progress_bar:before,
i.sky-vc-icon-progress_bar:before {
	content: "\f0ae";
}

/* fa-ellipsis-h */
.sky-vc-element.sky-vc-element-progress_bar_item:before,
i.sky-vc-icon-progress_bar_item:before {
	content: "\f141";
}

/* fa-money */
[data-element_type="pricing_table"]:before,
.sky-vc-element.sky-vc-element-pricing_table:before,
i.sky-vc-icon-pricing_table:before,
.sky-vc-element.sky-vc-element-pricing_table_column:before,
i.sky-vc-icon-pricing_table_column:before {
	content: "\f0d6";
}
/* fa-circle-o-notch */
.sky-vc-element.sky-vc-element-pie:before,
i.sky-vc-icon-pie:before {
	content: "\f1ce";
}

/* fa-circle-o-notch */
.sky-vc-element.sky-vc-element-sky_membership_packages:before,
i.sky-vc-icon-sky_membership_packages:before {
	content: "\f0d6";
}

/* fa-bullhorn */
.sky-vc-element.sky-vc-element-cta:before,
i.sky-vc-icon-cta:before {
	content: "\f0a1";
}

/* fa-arrow-circle-o-up */
.sky-vc-element.sky-vc-element-counter:before,
i.sky-vc-icon-counter:before {
	content: "\f01b";
}

/* fa-exclamation */
.sky-vc-element.sky-vc-element-message:before,
i.sky-vc-icon-message:before {
	content: "\f12a";
}

/* fa-list-alt */
.sky-vc-element.sky-vc-element-widget_sidebar:before,
i.sky-vc-icon-widget_sidebar:before {
	content: "\f022";
}

/* fa-copy */
.sky-vc-element.sky-vc-element-blog:before,
i.sky-vc-icon-blog:before {
	content: "\f0c5";
}

/* fa-user */
.sky-vc-element.sky-vc-element-team_member:before,
i.sky-vc-icon-team_member:before,
.sky-vc-element.sky-vc-element-author:before,
i.sky-vc-icon-author:before {
	content: "\f007";
}

/* fa-th-large */
.sky-vc-element.sky-vc-element-portfolio:before,
i.sky-vc-icon-portfolio:before {
	content: "\f009";
}

.sky-vc-element-message .wpb_element_wrapper:before {
	display: block;
	height: auto;
	min-height: 27px;
	margin-top: 5px;
	content: "Message Box";
	line-height: normal;
	font-weight: bold;
}

/* fa-picture-o */
i.sky-vc-icon-image:before {
	content: "\f03e";
}

/* fa-refresh */
.sky-vc-element.sky-vc-element-rev_slider:before,
i.sky-vc-icon-rev_slider:before {
	content: "\f021";
}

/* fa-retweet */
[data-element_type="slider"]:before,
.sky-vc-element.sky-vc-element-slider:before,
i.sky-vc-icon-slider:before,
.sky-vc-element.sky-vc-element-slide:before,
i.sky-vc-icon-slide:before {
	content: "\f079";
}

/* fa-share-square-o */
.sky-vc-element.sky-vc-element-lightbox:before,
i.sky-vc-icon-lightbox:before {
	content: "\f045 ";
}

/* fa-video-camera */
.sky-vc-element.sky-vc-element-video_player:before,
i.sky-vc-icon-video_player:before {
	content: "\f03d ";
}

/* fa-youtube-play */
.sky-vc-element.sky-vc-element-video_embed:before,
i.sky-vc-icon-video_embed:before {
	content: "\f16a ";
}

/* fa-volume-up */
.sky-vc-element.sky-vc-element-audio_player:before,
i.sky-vc-icon-audio_player:before {
	content: "\f028 ";
}

/* fa-soundcloud */
.sky-vc-element.sky-vc-element-audio_embed:before,
i.sky-vc-icon-audio_embed:before {
	content: "\f1be ";
}

/* fa-map-marker */
.sky-vc-element.sky-vc-element-maps:before,
i.sky-vc-icon-maps:before {
	content: "\f041 ";
}

/* fa-home */
.sky-vc-element.sky-vc-element-sky_recent_properties:before,
i.sky-vc-icon-sky_recent_properties:before,
.sky-vc-element.sky-vc-element-sky_property_slide:before,
i.sky-vc-icon-sky_property_slide:before {
	content: "\f015 ";
}

/* fa-search */
.sky-vc-element.sky-vc-element-sky_advanced_search_property:before,
i.sky-vc-icon-sky_advanced_search_property:before {
	content: "\f002 ";
}

/*sky_recent_agents fa-user-md [&#xf0f0;]*/
.sky-vc-element.sky-vc-element-sky_recent_agents:before,
i.sky-vc-icon-sky_recent_agents:before
{
	content: "\f007 ";
}

/*sky_login_register  fa-sign-in [&#xf090;]*/
.sky-vc-element.sky-vc-element-sky_login_register:before,
i.sky-vc-icon-sky_login_register:before
{
	content: "\f090 ";
}

/* fa-share-alt */
.sky-vc-element.sky-vc-element-social_share:before,
i.sky-vc-icon-social_share:before {
	content: "\f1e0 ";
}


/* fa-file-code-o */
.sky-vc-element.sky-vc-element-raw_html:before,
i.sky-vc-icon-raw_html:before,
.sky-vc-element.sky-vc-element-raw_js:before,
i.sky-vc-icon-raw_js:before {
	content: "\f1c9 ";
}
