// Tags ( used in Tags Cloud )
.tag() {
  &:extend(.btn);
  &:extend(.btn-default);
  margin: 0 3px 3px 0;
  color:@white;
  background: @gray;
  border-color: @gray;
  font-size: @font-size-base;
  font-weight: @font-weight-base;
  line-height: 1;
  &:hover{
    background: @brand-primary;
    border-color: @brand-primary;
    color: @white;
  }
}

.form-control() {
  display: block;
  width: 100%;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
  font-style: italic;
  letter-spacing: 0.5px;
  margin: 0 0 30px;
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();

  // Placeholder
  .placeholder();

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: @input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}
.background-cover( @background-cover ) when ( @background-cover = true ) {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.reset_ul(){
  list-style: none;
  padding: 0;
  margin: 0;
}
.after_cler(){
  &:after{
    clear: both;
    content: '';
    display: table;
  }
}

// button
.sky-btn(@padding: 10px 20px, @background: @gray-dark, @color: @white, @hover: @brand-primary){
  padding: 10px 20px;
  background: @gray-dark;
  border: 0;
  color: @white;
  .transition(all 0.4s ease 0s);
  &:hover{
    background: @brand-primary;
  }
  &:focus{
    outline-color: transparent;
    outline: none;
  }
}