.widget ul {
  margin: 0px;
  padding: 0px;
}
.widget ul li {
  margin: 0px;
  padding: 8px 0px;
  list-style: none;
}
.widget ul li a {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  color: gray;
}
.widget ul li a:hover {
  color: #C32F80;
}
.widget ul li:last-child {
  border-bottom: 0;
}
.widget ul li ul {
  display: none;
}
.widget label {
  color: gray;
  font-weight: normal;
}
.widget form.sky-search-form input[type="search"],
.widget form.sky-search-form input[type='submit'] {
  padding: 6px 10px;
  border: none;
  outline: none;
  color: gray;
}
.widget .widget-title {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.5;
}
.widget .sub_title {
  color: #b2b2b2;
}
.widget .sky-small {
  height: 3px;
  width: 50px;
  background-color: #C32F80;
  margin-bottom: 20px;
}
.widget .textwidget {
  color: gray;
}
.widget .tagcloud {
  display: inline-block;
  margin: 5px 5px 0px 0px;
  padding: 0px;
}
.widget .tagcloud a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px!important;
  border: 1px solid #a1b1bc;
  color: #a1b1bc;
  padding: 7px 10px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  margin: 0 10px 10px 0;
}
.widget .tagcloud a:hover {
  color: #fff;
  background: #C32F80;
}
.widget .tagcloud a:before {
  content: "\f02b";
  font-family: 'FontAwesome';
  display: inline-block;
  padding-right: 5px;
}
.widget #calendar_wrap table#wp-calendar {
  width: 100%;
  color: gray;
  text-align: center;
}
.widget #calendar_wrap table#wp-calendar caption {
  font-weight: bold;
  padding: 0px 0px 10px 0px;
}
.widget #calendar_wrap table#wp-calendar th,
.widget #calendar_wrap table#wp-calendar td {
  border: 1px solid #CCC3C9;
  padding: 8px;
}
.widget #calendar_wrap table#wp-calendar th a,
.widget #calendar_wrap table#wp-calendar td a {
  color: #cccccc;
}
.widget #calendar_wrap table#wp-calendar td#prev a {
  color: #C32F80;
}
.widget #calendar_wrap table#wp-calendar td#today {
  background-color: #C32F80;
  color: #fff;
}
.post article {
  padding: 0px;
}
.sky-item {
  position: relative;
  background: #fff;
  border-bottom: 1px solid #EEE;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.sky-item .sky-thumb {
  float: left;
  padding: 5px;
}
.sky-item .sky-thumb img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}
.sky-item .sky-entry {
  padding: 3px;
}
.sky-item .sky-entry a {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.sky-item .sky-entry a:hover {
  color: #C32F80;
}
.sky-item .sky-entry a h4 {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
}
.sky-item .sky-entry button {
  position: absolute;
  right: 7px;
  float: right;
  top: 40px;
  font-size: 10px;
  color: #fff;
  padding: 2px 14px;
  background-color: #49BD0E;
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid #6bb247;
  cursor: pointer;
}
.sky-item .sky-entry button:hover {
  background-color: #378e0a;
}
.sky-item:hover {
  cursor: pointer;
  padding-left: 10px;
}
#sky-main-page .sky-pagenavi {
  margin-top: 30px;
  margin-bottom: 20px;
}
#footer-widget-content {
  padding-top: 35px;
  margin-bottom: 30px;
}
.sky-widget-title {
  padding: 10px;
  border-bottom: 1px solid #EFEBEB;
  background: #fff;
  font-weight: bold;
  font-size: 15px;
  margin: 0px;
}
.sky-widget ul {
  padding: 0;
  margin: 0;
}
.sky-widget ul li {
  list-style: none;
  padding: 5px 8px 0px 12px;
  background: #fff;
  font-size: 13px;
}
.sky-widget ul li:before {
  font-family: 'FontAwesome';
  content: "\f0da";
  display: inline-block;
  padding-right: 5px;
}
.sky-widget ul li a {
  display: inline-block;
  text-decoration: none;
}
.sky-widget ul li > ul li {
  padding: 2px 0px 0px 12px;
}
.sky-widget ul li > ul li:before {
  content: "\f105";
}
.widget_sky_box_like_facebook {
  margin-top: 10px;
}
.sky-widget.widget_sky_category li .sky_badge {
  float: right;
  font-size: 11px;
  background-color: blanchedalmond;
  padding: 1px 5px;
  border-radius: 5px;
  color: brown;
}
.sky-widget.widget_sky_category li.current-cat > a {
  color: cadetblue;
  color: red;
}
.sky-widget.widget_sky_category li.current-cat .sky_badge {
  color: red;
}
.sky-widget.widget_sky_category li.current-cat > ul {
  display: block;
}
@media (max-width: 992px) {
  .sky-sidebar {
    padding: 0px !important;
    margin: 0px !important;
  }
  .sky-sidebar aside {
    margin: 4px 0px !important;
  }
}
@media (max-width: 320px) {
  .widget .tagcloud a {
    font-size: 12px !important;
    padding: 3px;
  }
}
@media (max-width: 260px) {
  .sky-widget .sky-item .sky-entry h4 {
    font-size: 13px;
  }
  .sky-widget .sky-item .sky-entry p {
    font-size: 13px;
  }
  .sky-widget .sky-item .sky-entry button {
    padding: 1px 4px;
  }
}
@media (max-width: 220px) {
  .sky-widget .sky-item .sky-entry p {
    display: none;
  }
  .sky-widget .sky-item .sky-entry button {
    float: left;
    right: auto;
  }
}
.recent-tweets ul li:before {
  content: "";
}
.tweets-widget {
  border: 10px solid #55ACEE;
  border-radius: 10px;
}
.tweets-widget h3.sky-widget-title {
  color: #55ACEE;
}
.tweets-widget .recent-tweets ul li {
  list-style: none;
  padding: 5px 8px 11px 12px;
  background: #fff;
  font-size: 13px;
  border-bottom: 1px solid #DEDEDE;
}
.tweets-widget .recent-tweets ul li a {
  color: #55ACEE;
}
.tweets-widget .recent-tweets ul li:before {
  display: none;
}
.tweets-widget .recent-tweets ul li .twitter_user {
  margin-top: 15px;
}
.widget_recent_entries ul li {
  border-bottom: 1px solid #333;
}
.widget_recent_entries ul li:before {
  content: "\f0f6";
  font-family: 'FontAwesome';
  display: inline-block;
  padding-right: 5px;
}
